[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
[pull]
	rebase = true
[merge]
	ff = false
[alias]
	sw = checkout
	st = status
	cm = commit -m
	fp = fetch --prune
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip
	phf = push --force-with-lease
	pl = pull
	plr = pull --rebase
	cm-ini = commit --allow-empty -m
	tree = log --graph --pretty=format:'%x09%C(auto) %h %x09%C(auto)%s %d'
	aliases = config --get-regexp alias
	whoami = config user.email
